<header>
    <img src="https://global-uploads.webflow.com/5ef5480befd392489dacf544/5f9f5e5943de7e69a1339242_5f44a7398c0cdf460857e744_img-image.jpeg" alt="">
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/mybillienProduct">MyBillien</a></li>
        <li><a href="/myCard">MyCard</a></li>


    </ul>
</nav>
</header>