body{
    display: grid;
    /* grid-template-rows: 30vh 50vh 20vh; */
    grid-template-rows: 2% 96% 2%;
    grid-template-columns: 100%;
    justify-content: center;
    
}


header{
    display: grid;
    /* grid-template-rows: 20vh 10vh; */
    grid-template-rows: 80% 20%;
}

